{% extends 'admins/layout.html' %}
{% load static %}

{% block title %}
<title>Admins - All Categories</title>

{% endblock%}


{% block main_content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-10">

            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{ msg }}
            </div>

            {% endif%}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>

            {% endif%}

            {% endfor %}

            <table class="table table-bordered table-striped table-light">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category_show in categories %}
                   
                    <tr>
                        <td> {{ category_show.category_name }}</td>
                        
                        <td>
                            <a href="/products/updatecategory/{{category_show.id}}" class="btn btn-primary my-2">
                                <i class="fas fa-pen-square"></i>
                            </a>

                            <a href="/products/deletecategory/{{category_show.id}}" class="btn btn-danger"
                                onclick="return confirm('Are You Sure Want To Delete This Category ?')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- static file render -->
<!-- <img src="{% static 'images/a.jpg' %}" alt=""> -->

{% endblock %}